@media (max-width: 767px){
    .header{
        height: 5.5rem !important;
        /* padding-left: 44px !important;
        padding-right: 44px !important; */
        padding-top: 30px !important;
    }
    .arrow-header{
        height: 20px !important;
    }
    button.arrow-header{
        margin-top: 50px !important;
    }
    img.logo{
        height: 12vw !important;
    }
    img.shop{
        height: 12vw !important;
    }
    button.shop{
        height: 12vw !important;
        width: 12vw !important;
    }
    .navbar-collapse{
        padding-left:2.97rem;
        padding-right:2.97rem; 
    }
}
