body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

.header{
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height: 85px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.navbar-nav{
    margin-left: 8vw;
}
.nav-item{
    margin-left: 0.7vw;
}
.form-control{
    border: 1px solid #E8E8E8;
    margin-left: 3rem;
    height:30px;
    border-radius: 0px;
}
input.form-control{
    max-width: unset;
    min-width: unset;
    width: 180px !important;
}
.form-control:focus{
    color: #495057;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    outline: none;
    box-shadow: 0 0 0 0;
}
button.shop{
    padding: 0px;
    width: 40px;
    height: 40px;
    background-color: #B32020;
    border: none;
    border-radius: 2px;
}
img.shop{
    padding-left:1px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:1px;
}

button.search{
    padding: 0px;
    width: 30px;
    height: 30px;
    background-color: #E8E8E8;
    border: none;
}
.btn{
    border-radius: 0px;
}
.btn:focus{
    box-shadow: 0 0 0 0;
}



@media screen and (max-width: 1266px) and  (min-width: 991px){
    .navbar-nav{
        margin-left: 0.2rem;
    }
    .nav-item{
        margin-left: 0.5rem;
    }
    .form-control{
        margin-left: 0.1rem;
    }
}