html {
    font-size: 22px;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
    background: #F5F5F5;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: middle;
    width: 100%;
    height: 3.86rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav {
    margin-left: 8vw;
}

.nav-item {
    margin-left: 0.7vw;
}

.form-control {
    border: 1px solid #E8E8E8;
    background-color: #F7F7F7;
    margin-left: 3rem;
    height: 30px;
    border-radius: 0px;
}

input.form-control {
    max-width: unset;
    min-width: unset;
    width: 180px !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    outline: none;
    box-shadow: 0 0 0 0;
}

button.shop {
    background-color: white;
    padding: 0px;
    width: 2.36rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    border: none;
}

img.shop {
    border:none;
    height: 2rem;
}

button.search {
    padding: 0px;
    width: 30px;
    height: 30px;
    background-color: #E8E8E8;
    border: none;
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 0px;
}

.btn:focus {
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 1266px) and (min-width: 991px) {
    .navbar-nav {
        margin-left: 0.2rem;
    }

    .nav-item {
        margin-left: 0.5rem;
    }

    .form-control {
        margin-left: 0.1rem;
    }
}

/*блок фильтрации и сортировки*/
.sort-container {
    background: #FFEFEF;
}

.sort-container > .row {
    max-width: 1310px;
    min-width: 720px
}

.sort-container > .row > .col-md > .row > .col-md {
    width: 9.5rem;
    
}

.sort-container p{
    margin-top: 0.55rem;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

div.align-items-center.justify-content-center.no-gutters{
    padding-top: calc(1rem * 2.095);
    padding-bottom: calc(1rem * 1.91);
    
}

.sort-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.black-line{
    display: flex;
    border-left: 1px solid black;
    width:100%;
    align-items: center;
    justify-content: center;
}

.black-line img{
    border : 1px solid black;
    background-color: #FFFFFF;
}
.w-blckln {
    /*width: auto (!important);*/
}

.w-blckln > div {
    padding-left: 2.5rem;
}

.w-blckln > p {
    padding-left: 2.5rem;
}

.sort-container > .row > .col-md > .row > .col-md{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.sort-container > .row > .col-md > .row > .col-md:nth-child(7) {
    padding-right: 1.14rem;
}

.block-vert-line{
    border: 1px solid black;
}

/* Список товаров */
.container {
    max-width: 1290px;
}

a:hover {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}

.title_product {
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.number_product {
    width: 40px;
    height: 45px;
    background: #B32020;
    border-radius: 2px;
}

.number {
    width: 33px;
    height: 29px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.product {
    position: relative;
    font-size: 22px;
    text-align: center;
}

.card-deck {
    justify-content: center;
    background: #F5F5F5;
}

.card {
    width: 580px;
    height: 620px;
    background: #FFFFFF;
    border: none;
}

.card_img {
    width: 400px;
    height: 400px;
    background: #C4C4C4;
    margin: 0 auto;
}

.card_title {
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.card_price {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #7D7D7D;
    margin-top: -10px;
}

.card_ellipse {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #B32020;
    margin-top: -70px;
    margin-left: 443px;
}

.card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0px !important;
    margin-bottom: 0;
    margin-left: 30px !important;
}

/* Стили для похожие товаров */
div.popular .row{
    margin: 0 calc(2rem*1.375);
}

div.popular > .row > .col-md{
    border: 1px solid #DEDEDE;
    width: max-content;
    background: white;
}

div.popular img {
    width:9vw;
}

div.row.justify-content-between {
    white-space: nowrap;
}

div.pop_head{
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
}

div.align-items-center > div > p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
}

div.align-items-center {
    margin-left: 0;
    margin-right: 0;
}

div.align-items-center.justify-content-start > div {
    padding-left: 0;
    display: inline-block;;
}

body > div.container-fluid.popular > div.row.no-gutters.justify-content-between div.d-flex:hover{
    cursor: pointer;
}

p.grey {
    color: #7D7D7D;
}

.p_pad {
    padding-right: calc(1rem*1.375);
}

body > div > div.row.no-gutters.justify-content-between > .col-md{
    padding-top: 1%;
    padding-bottom: 1%;
}

.mt_pop_items{
    margin-top: 3.356875rem;
}

/*Подвал*/
/*Подвал*/
footer {
    background: #D02A2A;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}


footer img {
    width: calc(1rem/(22/320));
    height: calc(1rem/(22/70));
    background: #FFFFFF;
    padding: calc(1rem/(22/11)) calc(1rem/(22/40));
}

footer a {
    display: block;
    color: #421D1D;
    padding-bottom: calc(1rem/(22/15));
    font-size: calc(1rem/(22/24));
    line-height: calc(1rem/(22/28));

}

footer h3 {
    color: #ffffff;
    padding-bottom: calc(1rem/(22/20));
    font-size: calc(1rem/(22/36));
    line-height: calc(1rem/(22/41));
}

footer span {
    color: #FFFFFF;
}

.basement1 {
    padding-left: calc(1rem/(22/170));
    color: #FFFFFF;
}

.basement1 p {
    width: calc(1rem/(22/320)) ;
    padding-top: calc(1rem/(22/15)) ;
}

.basement2 {
    padding-left: calc(1rem/(22/100));
}

.basement3 {
    padding-right: calc(1rem/(22/100));
}

.basement3 textarea{
    margin-top: calc(1rem/(22/15));
    margin-bottom: calc(1rem/(22/15));
    height: calc(1rem/(22/95));
    width: calc(1rem/(22/320));
}

::placeholder {
    color: #D1CECE;
}

footer textarea::placeholder {
    color: #D1CECE;  
}

.basement4 {
    padding-right: calc(1rem/(22/170));
}

footer {
    padding-top: calc(1rem/(22/35));
}

footer button {
    
    width: calc(1rem/(22/135));
    height: calc(1rem/(22/32));
    text-align: center;
    background: #FFFFFF;
}

.under {
    margin-top: calc(1rem/(22/60)) ;
    height: calc(1rem/(22/40));
    background: #8E1F1F;
    text-align: center;
    color: #ffffff;
}

.under p {
    margin-bottom: 0rem;
}

@media screen and (min-width: 992px) and (max-width: 1686px) {
    
    .basement1 {
        padding-left: calc(1rem/(22/50));
        color: #FFFFFF;
    }
    
    .basement2 {
        padding-left: calc(1rem/(22/100));
        
    }
    
    .basement3 {
        padding-right: calc(1rem/(22/10));
    }

    .basement4 {
        padding-left: calc(1rem/(22/50));
        padding-right: calc(1rem/(22/50));
    }
}

@media screen and (min-width: 1200px) and (max-width: 1240px) {
    .basement3 textarea {
        width: calc(1rem/(22/270));
    }

    footer input {
        width: calc(1rem/(22/270));
    }
}

@media screen and (min-width: 576px) and (max-width: 1199px) {
    
    footer {
        font-size: calc(1rem/(22/24));
        line-height: calc(1rem/(22/28));   
    }

    footer img {
        width: 100%;
    }

    footer.container {
        padding-top: calc(1rem/(22/40));
    }
    
    .basement1 {
        padding-left: calc(1rem/(22/44));
        padding-right: 0rem;
        
    }

    .basement1 p {
        width: 100%;
        
    }


    .basement2 {
        padding-bottom: calc(1rem/(22/40));
        padding-left: calc(1rem/(22/44));
        padding-right: calc(1rem/(22/44));
    }
    .basement2 a {
        padding-right: 0rem;
        padding-bottom: 0rem ;
        margin-left: 0rem ;
        text-align: center;
    }

    .basement2 h3 {
        display: none;
    }

    .basement3 {
        padding-left: calc(1rem/(22/44));
        padding-right: calc(1rem/(22/44)); 
    }

    .basement3 h3 {
        margin: 0rem;
    }

    .basement3 textarea{
        margin-top: 0rem;
        margin-bottom: 0rem;
        height: calc(1rem/(22/95));
        padding: 0rem;
        width: 100%;
    }

    .basement3 .box_textarea {
        padding-top: calc(1rem/(22/15));
    }

    .basement3 input {
        height: calc(1rem/(22/40));
        width: 100%;

    }

    footer button {
        width: 100%;
        height: calc(1rem/(22/40));
        text-align: center; 
    }

    .box_button {
        padding-left: calc(1rem/(22/15));
    }

    .basement4 { 
        padding-left: calc(1rem/(22/40));
        padding-right: 0rem;
    }

    .under {
        margin-top: calc(1rem/(22/59)) ;
    }
}

@media screen and (min-width: 575px) and (max-width: 718px) {
    footer button {
        font-size: calc(1rem/(22/20));
        line-height: calc(1rem/(22/25));
    }

    footer .box_input {
        padding-right: 0rem;
    }
}

@media screen and (min-width: 575px) and (max-width: 641px) {
    footer button {
        font-size: calc(1rem/(22/17));
        line-height: calc(1rem/(22/23));
    }
}

@media screen and (max-width: 574px) {
    
    footer {
        font-size: calc(1rem/(22/36));
        line-height: calc(1rem/(22/41));
    }

    footer h3 {
        font-size: calc(1rem/(22/48));
        line-height: calc(1rem/(22/55));
    }
    
    footer .row div {
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    footer a {
        font-size: calc(1rem/(22/48)); 
        line-height: calc(1rem/(22/55)); 
        margin-left: calc(1rem/(22/0));
    }

    footer img {
        width: calc(1rem/(22/488));
        height: calc(1rem/(22/102));
    }

    .basement1 {
        padding-right: calc(1rem/(22/44));
        padding-left: calc(1rem/(22/44));
        padding-bottom: calc(1rem/(22/70));
    }

    .basement1 p {
        padding-right: calc(1rem/(22/44));
        padding-left: calc(1rem/(22/44));
        width: 100%;
    }

    .basement3 {
        padding-bottom: calc(1rem/(22/70));
    }

    .basement3 input {
        height: calc(1rem/(22/56));
        width: calc(1rem/(22/488));
    }

    .basement3 textarea{
        height: calc(1rem/(22/154));
        width: calc(1rem/(22/488));
        
    }

    .basement4 p {
        font-size: calc(1rem/(22/48));
        line-height: calc(1rem/(22/55));
    }

    footer textarea::placeholder {  
        font-size: 36px;
        line-height: 41px;
    }

    footer button {
        display: block;
        width: calc(1rem/(22/230));
        height: calc(1rem/(22/50));
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: calc(1rem/(22/55));
    }

    .under {
        height: calc(1rem/(22/80));
    }

    .under p{
        font-size: 24px;
        line-height: 28px;
        padding: calc(1rem/(22/10)) calc(1rem/(22/82));
        
    }
}

/* Блок описания товара */

.product-main-description-price,
.product-main-description-desc,
.product-main-description h1 {
    margin-bottom: calc(1rem / (22/15));
}

.product-main-description {
    margin-bottom: calc(1rem / (22/107));;
}

.product-main-description h1 {
    margin-top: calc(1rem / (22/36));
    font-size: calc(1rem / (22/46));
}

.product-main-description p {
    line-height: calc(1rem / (22/28));
    font-size: calc(1rem / (22/24));
    color: #737373;
}

.product-main-description .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-main-description form label {
    line-height: calc(1rem / (22/28));
    font-size: calc(1rem / (22/24));
    margin-right: calc(1rem / (22/18));
}

.product-main-description form input[type="text"] {
    margin-right: calc(1rem / (22/18));
    height: 45px;
    width: calc(1rem / (22/83));
}

.product-main-description form input[type="submit"] {
    padding: 23px 30px;
    border-radius: 60px;
    box-shadow: none;
    border: 0;
    background: #B32020;
    color: #fff;
}

/* Подробное описание */

.product-about-description .second-rr {
    padding-top: calc(1rem / (22/50));
    padding-left: calc(1rem / (22/25));
    padding-right: calc(1rem / (22/40));
    border: 1px solid #bbbbbb;
    margin: 0;
}

.about-buttons:first-child {
    padding-right: 0;
}

.about-buttons:nth-child(2n) {
    padding: 0;
}

.about-buttons:last-child {
    padding-left: 0;
}

.about-buttons div {
    background: #FFF5F5;
    padding-top: calc(1rem / (22/25));
    padding-bottom: calc(1rem / (22/25));
    font-size: calc(1rem / (22/36));
    border-bottom: calc(1rem / (22/10)) solid #BBBBBB;
}

.about-buttons.active div {
    border-bottom: none;
    border-top: calc(1rem / (22/10)) solid #B32020;
}

.comment {
    position: relative;
    border-bottom: calc(1rem / (22/1)) solid #B32020;
    margin-bottom: calc(1rem / (22/16));
}

.author-name {
    font-size: calc(1rem / (22/24));
    margin-bottom: calc(1rem / (22/-9));
}

.comment-date {
    font-size: calc(1rem / (22/18));
    color: #7d7d7d;
}

.comment-content {
    font-size: calc(1rem / (22/18));
    display: inline-block;
}

.comment-content p {
    margin-bottom: calc(1rem / (22/15));
}

.comment img {
    float: left;
    padding-right: calc(1rem / (22/13));
    padding-bottom: calc(1rem / (22/13));
}

.comment button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: calc(1rem / (22/24));
    color: #fff;
    border: none;
    background: #B32020;
    border-radius: 5px;
    padding-bottom: calc(1rem / (22/5));
    padding-top: calc(1rem / (22/5));
    padding-right: calc(1rem / (22/13));
    padding-left: calc(1rem / (22/13));
}

.inner-comments {
    padding-left: calc(1rem / (22/40));
}

.comment-form-title {
    font-size: calc(1rem / (22/24));
    margin-bottom: calc(1rem / (22/23));
}

.comment-form input, .comment-form textarea {
    color: #000;
    font-size: calc(1rem / (22/24));
    width: 100%;
    height: calc(1rem / (22/60));
    border: calc(1rem / (22/1)) solid #C4C4C4;
    margin-bottom: calc(1rem / (22/20));
    padding-left: calc(1rem / (22/31));
    padding-right: calc(1rem / (22/31));
}

.comment-form input::placeholder, textarea::placeholder {
    color: #000;
    font-size: calc(1rem / (22/24));
}

.comment-form input::-moz-placeholder, textarea::-moz-placeholder {
    color: #000;
    font-size: calc(1rem / (22/24));
}

.comment-form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #000;
    font-size: calc(1rem / (22/24));
}

.comment-form textarea {
    height: calc(1rem / (22/130));
    resize: none;
}

.comment-form button {
    float: right;
    background: #C4C4C4;
    border-radius: calc(1rem / (22/5));
    height: calc(1rem / (22/55));
    width: calc(1rem / (22/290));
    border: none;
}