html {
    font-size: 22px;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
    background: #F5F5F5;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    height: 5.313rem;
    margin-bottom: 85px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav {
    margin-left: 8vw;
}

.nav-item {
    margin-left: 0.7vw;
}

.form-control {
    border: 1px solid #E8E8E8;
    margin-left: 3rem;
    height: 30px;
    border-radius: 0px;
}

input.form-control {
    max-width: unset;
    min-width: unset;
    width: 180px !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    outline: none;
    box-shadow: 0 0 0 0;
}

button.shop {
    padding: 0px;
    width: 45px;
    height: 40px;
    background-color: #B32020;
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

img.shop {
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
}

button.search {
    padding: 0px;
    width: 30px;
    height: 30px;
    background-color: #E8E8E8;
    border: none;
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 0px;
}

.btn:focus {
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 1266px) and (min-width: 991px) {
    .navbar-nav {
        margin-left: 0.2rem;
    }

    .nav-item {
        margin-left: 0.5rem;
    }

    .form-control {
        margin-left: 0.1rem;
    }
}

/*блок фильтрации и сортировки*/
.sort-container {
    background: #FFEFEF;
    margin-top: 5.313rem;
}

.sort-container > .row {
    max-width: 1290px;
    min-width: 720px
}

.sort-container > .row > .col-md > .row > .col-md {
    width: 9.5rem;
}

.sort-container p{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.sort-container img {
    width: 6vw;
}

.black-line{
    display: flex;
    border-left: 1px solid black;
    width:100%;
    align-items: center;
    justify-content: center;
}

.w-blckln {
    /*width: auto !important;*/
}

.w-blckln > div {
    padding-left: 0.7rem;
}

.w-blckln > p {
    padding-left: 0.7rem;
}

.sort-container > .row > .col-md > .row > .col-md{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.block-vert-line{
    border: 1px solid black;
}

/* Список товаров */
.container {
    max-width: 1290px;
}

a:hover {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}

.title_product {
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.number_product {
    width: 40px;
    height: 45px;
    background: #B32020;
    border-radius: 2px;
}

.number {
    width: 33px;
    height: 29px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.product {
    position: relative;
    font-size: 22px;
    text-align: center;
}

.card-deck {
    justify-content: center;
    background: #F5F5F5;
}

.card {
    width: 580px;
    height: 620px;
    background: #FFFFFF;
    border: none;
}

.card_img {
    width: 400px;
    height: 400px;
    background: #C4C4C4;
    margin: 0 auto;
}

.card_title {
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.card_price {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #7D7D7D;
    margin-top: -10px;
}

.card_ellipse {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #B32020;
    margin-top: -70px;
    margin-left: 443px;
}

.card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0px !important;
    margin-bottom: 0;
    margin-left: 30px !important;
}

/* Стили для похожие товаров */
div.popular .row{
    margin: 0 calc(2rem*1.375);
}

div.popular > .row > .col-md{
    border: 1px solid #DEDEDE;
    width: max-content;
    background: white;
}

div.popular img {
    width:9vw;
}

div.row.justify-content-between {
    white-space: nowrap;
}

div.pop_head{
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
}

div.align-items-center > div > p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
}

div.align-items-center {
    margin-left: 0;
    margin-right: 0;
}

div.align-items-center.justify-content-start > div {
    padding-left: 0;
    display: inline-block;;
}

body > div.container-fluid.popular > div.row.no-gutters.justify-content-between div.d-flex:hover{
    cursor: pointer;
}

p.grey {
    color: #7D7D7D;
}

.p_pad {
    padding-right: calc(1rem*1.375);
}

body > div > div.row.no-gutters.justify-content-between > .col-md{
    padding-top: 1%;
    padding-bottom: 1%;
}

.mt_pop_items{
    margin-top: 3.356875rem;
}

/*Подвал*/
footer {
    background: #D02A2A;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
} 

footer img {
    height: 48px;
    width: 240px;
    background: #FFFFFF;
    padding: 11px 40px;
}

footer a {
    display: block;
    color: #421D1D;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    margin-left: 20px;

}

footer h3 {
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 41px;
}

footer span {
    color: #FFFFFF;
}

.basement1 {
    padding-left: 170px;
}

.basement1 p {
    padding-top: 15px;
}

.basement2 {
    padding-left: 100px;
}

.basement3 {
    padding-right: 100px;
}

.basement3 textarea {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 320px;
    height: 95px;
}

.basement4 {
    padding-right: 170px;
}

footer {
    padding-top: 35px;
}

footer button {
    display: block;
    width: 135px;
    height: 32px;
    text-align: center;
}

.under {
    margin-top:60px ;
    background: #8E1F1F;
    text-align: center;
    color: #ffffff;
}

.under p {
    margin-bottom: 0rem;
}

/* Блок описания товара */

.product-main-description-price,
.product-main-description-desc,
.product-main-description h1 {
    margin-bottom: calc(1rem / (22/15));
}

.product-main-description h1 {
    margin-top: calc(1rem / (22/36));
    font-size: calc(1rem / (22/46));
}

.product-main-description p {
    line-height: calc(1rem / (22/28));
    font-size: calc(1rem / (22/24));
    color: #737373;
}

.product-main-description .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-main-description form label {
    line-height: calc(1rem / (22/28));
    font-size: calc(1rem / (22/24));
    margin-right: calc(1rem / (22/18));
}

.product-main-description form input[type="text"] {
    margin-right: calc(1rem / (22/18));
    height: 45px;
    width: calc(1rem / (22/83));
}

.product-main-description form input[type="submit"] {
    padding: 23px 30px;
    border-radius: 60px;
    box-shadow: none;
    border: 0;
    background: #B32020;
    color: #fff;
}