html {
    font-size: 22px;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
    background: #F5F5F5;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: middle;
    width: 100%;
    height: 3.86rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav {
    margin-left: 8vw;
}

.nav-item {
    margin-left: 0.7vw;
}

.form-control {
    border: 1px solid #E8E8E8;
    background-color: #F7F7F7;
    margin-left: 3rem;
    height: 30px;
    border-radius: 0px;
}

input.form-control {
    max-width: unset;
    min-width: unset;
    width: 180px !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    outline: none;
    box-shadow: 0 0 0 0;
}

button.shop {
    background-color: white;
    padding: 0px;
    width: 2.36rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    border: none;
}

img.shop {
    border:none;
    height: 2rem;
}

button.search {
    padding: 0px;
    width: 30px;
    height: 30px;
    background-color: #E8E8E8;
    border: none;
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 0px;
}

.btn:focus {
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 1266px) and (min-width: 991px) {
    .navbar-nav {
        margin-left: 0.2rem;
    }

    .nav-item {
        margin-left: 0.5rem;
    }

    .form-control {
        margin-left: 0.1rem;
    }
}

/*блок фильтрации и сортировки*/
.sort-container {
    background: #FFEFEF;
}

.sort-container > .row {
    max-width: 1310px;
    min-width: 720px
}

.sort-container > .row > .col-md > .row > .col-md {
    width: 9.5rem;

}

.sort-container p{
    margin-top: 0.55rem;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

div.align-items-center.justify-content-center.no-gutters{
    padding-top: calc(1rem * 2.095);
    padding-bottom: calc(1rem * 1.91);

}

.sort-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.black-line{
    display: flex;
    border-left: 1px solid black;
    width:100%;
    align-items: center;
    justify-content: center;
}

.black-line img{
    border : 1px solid black;
    background-color: #FFFFFF;
}
.w-blckln {
    /*width: auto (!important);*/
}

.w-blckln > div {
    padding-left: 2.5rem;
}

.w-blckln > p {
    padding-left: 2.5rem;
}

.sort-container > .row > .col-md > .row > .col-md{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.sort-container > .row > .col-md > .row > .col-md:nth-child(7) {
    padding-right: 1.14rem;
}

.block-vert-line{
    border: 1px solid black;
}

/* Список товаров */

.container {
    max-width: 1290px;
}

.drop{
    width: 250px;
    height: 238px;
}

.drop2{
    width: 100px;
    height: 170px;
}
a:hover {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}

.title_product {
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.number_product {
    width: 40px;
    height: 45px;
    background: #B32020;
    border-radius: 2px;
}

.number {
    position: relative;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
}

.card {
    width: 580px;
    height: 620px;
    background: #FFFFFF;
    border: none;
    padding-left: 5.625rem;
    padding-right: 5.625rem;
}

.card_img {
    width: 400px;
    height: 400px;
    background: #C4C4C4;
    margin-left: -32px;
    margin-top: 67px;
}

.card_title{
    font-size: 24px;
    color: #000000;
}

.title{
    color: #000000;
}

a.title:hover{
    color: #000000;
}

.card_price{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: -20px;
}

.price{

    color: #7D7D7D;
}

a.price:hover{
    color: #7D7D7D;
}

.card_package{
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 50px;
    height: 60px;
    color:#B32020;
}

a.card_package>:active{
    fill:#000000;
}

.nc{
    width: 80px;
    height: 40px;
    background: #F5F5F5;
    border-radius: 2px;
}

.page{
    width: 50px;
    height: 65px;
    background: #FFFFFF;
    border: 2px solid #B32020;
    box-sizing: border-box;
    border-radius: 2px;
}

.cross{
    width: 20px;
    height: 20px;
}

.number_btn{
    width: 50px;
    height: 65px;
    background: #B32020;
    border: 2px solid #B32020;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

div.page>:active{
    width: 50px;
    height: 65px;
    background: #B32020;
    border: 2px solid #B32020;
    box-sizing: border-box;
    border-radius: 2px;
}

.show_next{
    display: none;
}

.srt_number{
    width: 1000px;
    height: 100px;
}

.icon {
    display: inline-block; 
    stroke-width: 0; 
    stroke: currentColor; 
    fill: currentColor; 
    max-width: 100%; 
}

.arrow{
    width: 50px;
    height: 65px;
    color:#B32020;
}

.arrow1{
    width: 50px;
    height: 65px;
    color:#B32020;
    transform: scaleX(-1);
}


@media screen and (max-width: 1199px) and (min-width: 768px) {
    .card {
        width: 320px;
        height: 340px;
        background: #FFFFFF;
        border: none;
        padding-left: 80px;
        padding-right: 5.625rem;
    }

    .card_img {
        background: #C4C4C4;
        width: 230px;
        height: 230px;
        margin-top: 25px;
    }

    .card_title{
        font-size: 20px;
        color: #000000;
        margin-top: -15px;
        margin-left: 85px;
    }

    .card_price{
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-top: -30px;
        margin-left: 85px;
    }

    .card_package{
        display: inline-block;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        width: 35px;
        height: 42px;
        color:#B32020;
        margin-left: 55px;
    }

    .title_product {
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }

    .number_product {
        width: 30px;
        height: 30px;
        background: #B32020;
        border-radius: 2px;
        margin-top: 10px;
    }

    .number {
        position: relative;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        margin-top: -5px;
    }

    .show_next{
        display: none;
    }

}

@media screen and (max-width: 767px) and (min-width: 567px) {
    .title_product {
      display: none;
    }

    .number_product {
        display: none;
    }

    .dropdown{
        display: none;
    }

    .card {
        width: 488px;
        height: 621px;
        background: #FFFFFF;
    }

    .card_img {
        width: 488px;
        height: 488px;
        background: #C4C4C4;
        margin-top: 0;
        margin-left: -100px;
    }

    .card_title{
        font-size: 24px;
        color: #000000;
        margin-top: -15px;
        margin-left: 85px;
    }

    .card_price{
        font-size: 24px;
        line-height: 21px;
        text-align: center;
        margin-top: -30px;
        margin-left: 85px;
    }

    .card_package{
        display: inline-block;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        width: 70px;
        height: 84px;
        color:#B32020;
        margin-left: 70px;
    }

    .page{
        display: none;
    }

    .number_btn{
        display: none;
    }

    .show_btn{
    width: 488px;
    height: 80px;
    background: #FFEFEF;
    border: 1px solid #9E0808;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 36px;
    }

    div>button.show_btn>:active{
        width: 488px;
        height: 80px;
        background: #EC8A8A;
        border: 1px solid #9E0808;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 36px;
    }

    .show_next{
        display: inline;
        margin-left: 40px;
    }

}

@media screen and (max-width: 575px) {
    .title_product {
        display: none;
      }

      .number_product {
          display: none;
      }

      .dropdown{
          display: none;
      }

      .card {
          width: 488px;
          height: 621px;
          background: #FFFFFF;
      }

      .card_img {
          width: 488px;
          height: 488px;
          background: #C4C4C4;
          margin-top: 0;
          margin-left: -100px;
      }

      .card_title{
          font-size: 24px;
          color: #000000;
          margin-top: -15px;
          margin-left: 85px;
      }

      .card_price{
          font-size: 24px;
          line-height: 21px;
          text-align: center;
          margin-top: -30px;
          margin-left: 85px;
      }

      .card_package{
          display: inline-block;
          stroke-width: 0;
          stroke: currentColor;
          fill: currentColor;
          width: 70px;
          height: 84px;
          color:#B32020;
          margin-left: 70px;
      }

      .page{
          display: none;
      }

      .number_btn{
          display: none;
      }

      .show_btn{
      width: 488px;
      height: 80px;
      background: #FFEFEF;
      border: 1px solid #9E0808;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 36px;
      }

      div>button.show_btn>:active{
          width: 488px;
          height: 80px;
          background: #EC8A8A;
          border: 1px solid #9E0808;
          box-sizing: border-box;
          border-radius: 5px;
          font-size: 36px;
      }

      .show_next{
          display: inline;
          margin-left: 40px;
      }

}

/* Стили для похожие товаров */
div.popular .row{
    margin: 0 calc(2rem*1.375);
}

div.popular > .row > .col-md{
    border: 1px solid #DEDEDE;
    width: max-content;
    background: white;
}

div.popular img {
    width:5.99vw;
    height: 5.99vw;
}

div.row.justify-content-between {
    white-space: nowrap;
}

div.pop-head > h1{
    font-size: 2.1818181818181817rem !important;
}

div.align-items-center > div > p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
}

div.align-items-center {
    margin-left: 0;
    margin-right: 0;
}

div.align-items-center.justify-content-start > div {
    padding-left: 0;
    display: inline-block;;
}

body > div.container-fluid.popular > div.row.no-gutters.justify-content-between div.d-flex:hover{
    cursor: pointer;
}

p.grey {
    color: #7D7D7D;
}

.p-pad {
    padding-right: calc(1rem*1.375);
    font-size:1.0909090909090908rem;
}

body > div > div.row.no-gutters.justify-content-between > .col-md{
    padding-top: 1%;
    padding-bottom: 1%;
}

.mt-pop-items{
    margin-top: 3.356875rem;
}

@media(min-width: 768px) and (max-width: 1199px){
    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(1)
    {
        margin-right: 3.5% !important;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(2)
    {
        margin-right: 0 !important;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(3)
    {
        display: none;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(4)
    {
        display: none;
    }

    div.popular img {
        width:14.976vw;
        height:14.976vw;
    }

    div.pop-head > h1{
        font-size: 1.6363636363636365rem !important;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(1)
    {
        margin-right: 0 !important;
        border: none;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(2)
    {
        padding-top: 3rem;
        margin-right: 0 !important;
        border-top: none;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(3)
    {
        display: none;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(4)
    {
        display: none;
    }

    div.popular{
        padding: 0;
    }

    div.pop-head{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin:0 !important;
        border-top: 1px solid #DEDEDE;
        background: white;
    }

    body > div.container-fluid.popular.mb-3.mt-3 > div.row.no-gutters.justify-content-between{
        margin:0;
    }

    div.popular img {
        width:36.113vw;
        height:36.113vw;
        margin-right: 2.5rem;
        margin-left: 2rem;
    }
}

@media(max-width: 575px){
    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(1)
    {
        margin-right: 0 !important;
        border: none;
        width: 100%;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(2)
    {
        padding-top: 3rem;
        margin-right: 0 !important;
        border-top: none;
        width: 100%;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(3)
    {
        display: none;
    }

    body > div.container-fluid.popular.mb-3 > div.row.no-gutters.justify-content-between > div:nth-child(4)
    {
        display: none;
    }

    div.popular{
        padding: 0;
        width: 100%;
    }

    div.pop-head{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 !important;
        border-top: 1px solid #DEDEDE;
        background: white;
    }

    div.pop-head > h1 {
        font-size: 1.4rem !important;
    }

    body > div.container-fluid.popular.mb-3.mt-3 > div.row.no-gutters.justify-content-between{
        margin:0;
    }

    div.popular img {
        width:36.113vw;
        height:36.113vw;
        margin-right: 1.8rem;
        margin-left: 1.3rem;
    } 
    
}

/*Подвал*/
footer {
    background: #D02A2A;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

footer img {
    height: 48px;
    width: 240px;
    background: #FFFFFF;
    padding: 11px 40px;
}

footer a {
    display: block;
    color: #421D1D;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    margin-left: 20px;

}

footer h3 {
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 41px;
}

footer span {
    color: #FFFFFF;
}

.basement1 {
    padding-left: 170px;
}

.basement1 p {
    padding-top: 15px;
}

.basement2 {
    padding-left: 100px;
}

.basement3 {
    padding-right: 100px;
}

.basement3 textarea {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 320px;
    height: 95px;
}

.basement4 {
    padding-right: 170px;
}

footer {
    padding-top: 35px;
}

footer button {
    display: block;
    width: 135px;
    height: 32px;
    text-align: center;
}

.under {
    margin-top:60px ;
    background: #8E1F1F;
    text-align: center;
    color: #ffffff;
}

.under p {
    margin-bottom: 0rem;
}

/* Блок описания товара */

.product-main-description-price,
.product-main-description-desc,
.product-main-description h1 {
    margin-bottom: calc(1rem / (22/15));
}

.product-main-description {
    margin-bottom: calc(1rem / (22/107));;
}

.product-main-description h1 {
    margin-top: calc(1rem / (22/36));
    font-size: calc(1rem / (22/46));
}

.product-main-description p {
    line-height: calc(1rem / (22/28));
    font-size: calc(1rem / (22/24));
    color: #737373;
}

.product-main-description .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-main-description form label {
    line-height: calc(1rem / (22/28));
    font-size: calc(1rem / (22/24));
    margin-right: calc(1rem / (22/18));
}

.product-main-description form input[type="text"] {
    margin-right: calc(1rem / (22/18));
    height: 45px;
    width: calc(1rem / (22/83));
}

.product-main-description form input[type="submit"] {
    padding: 23px 30px;
    border-radius: 60px;
    box-shadow: none;
    border: 0;
    background: #B32020;
    color: #fff;
}

/* Подробное описание */

.product-about-description .second-rr {
    padding-top: calc(1rem / (22/50));
    padding-left: calc(1rem / (22/25));
    padding-right: calc(1rem / (22/40));
    border: 1px solid #bbbbbb;
    margin: 0;
}

.about-buttons:first-child {
    padding-right: 0;
}

.about-buttons:nth-child(2n) {
    padding: 0;
}

.about-buttons:last-child {
    padding-left: 0;
}

.about-buttons div {
    background: #FFF5F5;
    padding-top: calc(1rem / (22/25));
    padding-bottom: calc(1rem / (22/25));
    font-size: calc(1rem / (22/36));
    border-bottom: calc(1rem / (22/10)) solid #BBBBBB;
}

.about-buttons.active div {
    border-bottom: none;
    border-top: calc(1rem / (22/10)) solid #B32020;
}

.comment {
    position: relative;
    border-bottom: calc(1rem / (22/1)) solid #B32020;
    margin-bottom: calc(1rem / (22/16));
}

.author-name {
    font-size: calc(1rem / (22/24));
    margin-bottom: calc(1rem / (22/-9));
}

.comment-date {
    font-size: calc(1rem / (22/18));
    color: #7d7d7d;
}

.comment-content {
    font-size: calc(1rem / (22/18));
    display: inline-block;
}

.comment-content p {
    margin-bottom: calc(1rem / (22/15));
}

.comment img {
    float: left;
    padding-right: calc(1rem / (22/13));
    padding-bottom: calc(1rem / (22/13));
}

.comment button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: calc(1rem / (22/24));
    color: #fff;
    border: none;
    background: #B32020;
    border-radius: 5px;
    padding-bottom: calc(1rem / (22/5));
    padding-top: calc(1rem / (22/5));
    padding-right: calc(1rem / (22/13));
    padding-left: calc(1rem / (22/13));
}

.inner-comments {
    padding-left: calc(1rem / (22/40));
}

.comment-form-title {
    font-size: calc(1rem / (22/24));
    margin-bottom: calc(1rem / (22/23));
}

.comment-form input, textarea {
    color: #000;
    font-size: calc(1rem / (22/24));
    width: 100%;
    height: calc(1rem / (22/60));
    border: calc(1rem / (22/1)) solid #C4C4C4;
    margin-bottom: calc(1rem / (22/20));
    padding-left: calc(1rem / (22/31));
    padding-right: calc(1rem / (22/31));
}

.comment-form input::placeholder, textarea::placeholder {
    color: #000;
    font-size: calc(1rem / (22/24));
}

.comment-form input::-moz-placeholder, textarea::-moz-placeholder {
    color: #000;
    font-size: calc(1rem / (22/24));
}

.comment-form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #000;
    font-size: calc(1rem / (22/24));
}

.comment-form textarea {
    height: calc(1rem / (22/130));
    resize: none;
}

.comment-form button {
    float: right;
    background: #C4C4C4;
    border-radius: calc(1rem / (22/5));
    height: calc(1rem / (22/55));
    width: calc(1rem / (22/290));
    border: none;
}

.col-1{
    box-shadow: inset -1px 0 0 red;
    
}
#home{
    border: 1px solid #bbbbbb;
}
.col-2, .col-1 {
    padding-left: 40px;
    padding-top: 35px;
}

#home > div > div.col-md-6.col-1 > div > h1, #home > div > div.col-md-6.col-2 > h1 {
    font-size: 36px;
}
.info-block {
    font-size: 24px;
}

