/* Общий стиль для планшетной и мобильной версии */
@media (max-width: 991px){
    html{
        font-size: 26px !important;
    }
    .navbar{
        padding: 0px !important;
    }
    .nav-item {
        margin-left: 0px !important;
        border-bottom: 1px solid #D32424;
    }
    input.search{

        height: 60px !important;
        margin-left: 0px !important;
        width: calc(100% - 60px) !important;
    }
    button.search{
        width: 60px !important;
        height: 60px !important;
    }
    img.search{
        height: 33px !important;
    }
    .navbar-nav{
        margin-left: 0px !important;
        text-align: center;
    }
    svg.arrow-header{
        transform: rotate(270deg);
    }

    .product-banner {
      display: none;
    }

}

/* Планшетная версия */
@media (min-width: 768px) and (max-width:991px){

    .header {
        height: 2.22rem !important;
    }
    img.logo{
        height: 1.81rem !important;
    }
    .arrow-header{
        height: 50px !important;
    }
    .navbar-collapse{
        padding-left:1.78rem;
        padding-right:1.78rem;
    }
    .navbar-nav{
        margin-left: 0px !important;
        text-align: center;
    }

    .navbar-brand {
        padding-top: unset !important;
        padding-bottom: unset !important;
        margin-right: unset !important;
    }
    form.search{
        margin-top: 1.1rem !important;
    }
    input.search{

        height: 60px !important;
        margin-left: 0px !important;
        width: calc(100% - 60px) !important;
    }
    button.search{
        width: 60px !important;
        height: 60px !important;
    }
    img.search{
        height: 33px !important;
    }
    img.shop{
        height:1.25rem !important;
    }
    button.shop{
        height: 1rem !important;
    }

    .form-control {
        margin-left: 0.1rem;
    }

    /* Блок фильтрации и сортировки */
   
    .arrow-sort{
       margin-top: -0.25rem;
       width:calc(1rem - 10px);
       height:calc(1rem - 10px);
       transform: rotate(-90deg);
       color: #FFFFFF !important;
    }
    div.align-items-center.justify-content-center.no-gutters{
        display: none;

      }
      .container-fluid {
          padding-right: 0;
      }
      .sort-container {
          width: 100%;
          height: calc(4rem - 4px);
          padding:0;

      }
  .sort-container > .row >.col-md-6  {
      background: #FFEFEF;
      margin:calc(1rem + 4px) 0 calc(1rem + 4px) 0;
      justify-content: center;
      align-items: center;
      padding-right: .5rem!important;
  }

  .sort-container > .row {
      min-width: auto;
  }


  .sort-container > .row >.col-md-6 > .block {
      width: calc(11rem - 6px);
      height: calc(2rem - 12px);
      background: #D32424;
  }

  .sort-container > .row >.col-md-6 > .block p{

      line-height: calc(1rem - 5px);
      margin: 0;
      font-size:  calc(1rem - 8px);
      color: #FFFFFF;

  }
  .sort-container > .row >.col-md-6 > .str {
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: calc(2rem - 12px);
      height: calc(2rem - 12px);
      background: #B32020;

      }
    

  .sort-container > .row > .col-md-6 > .block {
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;

   }
   .form-check > .form-check-input {
    width:calc(0.5rem + 5px) !important;
    height:calc(0.5rem + 5px) !important;
    position: unset;
    padding-left: 0.3rem;
 }
 .form-check > .form-check-label {
    line-height: none !important;
   padding-left: calc(0.5rem - 3px);
 }

 .drop_filter{
  transform: translate3d(-280px, 36px, 0px) !important;
  width: calc(12rem + 8px)!important;
  border-radius: 0!important;
  padding: 0.5rem calc(1rem - 5px) calc(1rem - 1px) calc(1rem - 2px)!important;
}

.nc_filter_1{
  font-size:calc(1rem - 4px);
  width: calc(10.5rem + 2px);
  line-height: calc(1rem + 8px);
  height:calc(2rem - 13px); 
  
}


.nc_filter{
  font-size:calc(1rem - 4px);
  width: calc(10.5rem + 2px);
  line-height: calc(1rem + 15px);
  height:calc(2rem - 13px); 
  
}
.nc_filter a{
   color: black;
}

.filter{
  border-bottom: 1px solid #D32424 ;
  width:calc(10.5rem + 2px);
  cursor: pointer;
  position: relative;


}
.dropdown-submenu {
  position: relative;
} 
 .hide {
    display: none;
}
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;

}


   .icon_filter{
   display: flex;
   align-items: center;
   }
   .arrow-filter{
      float: right;
      
      width:calc(1rem - 10px);
      height:calc(1rem - 10px);
      transform: rotate(-180deg);
      color: black !important;
   }
.dropdown-item{
  padding: 0;
  font-size:calc(1rem - 4px);
 
  width: calc(10.5rem + 2px);
}
.filter ul{
  position: unset;
  width:calc(10.5rem + 2px);
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: none;
}
.form_filter{
  
  width: calc(1rem + 4px);
  height: calc(1rem + 4px);
  font-size:calc(1rem - 4px);

}
input[type='radio'] {
  position: relative;
  height: calc(1rem - 6px);
  width: calc(1rem - 6px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  width:calc(1rem - 6px);
  height: calc(1rem - 6px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #421D1D;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  width:calc(0.5rem - 5px);
  height: calc(0.5rem - 5px);
  border-radius: 50%;
  background-color: #B32020;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.form-check > .form-check-input{
  width: 1rem;
  height: 1rem;
}

.dropdown-item.active,.dropdown-item:active{
  background-color: unset;
}

.form-number{
display: flex;
justify-content: center;

}

.left{
margin-left:  calc(-2rem + 4px);
}

.dropdown-tog.active {
 flex-direction: row-reverse;
}
.dropdown-tog.active > .icon_filter {
  transform: rotate(-180deg);
}
.dropdown-tog.active > .nc_filter {
 padding-left: 0.3rem;
}
.checkmark{
    width:calc(1rem + 4px) !important ;
    height: calc(1rem + 4px) !important;
}
.check-cont{
    line-height: calc(1rem - 1px);
    font-size: calc(1rem - 4px) !important;
    margin-bottom: calc(1rem - 1px);
    padding-left: calc(2rem - 2px) !important;
   
}
.check-cont .checkmark:after {
  width:calc(1rem - 8px) !important ;
  height: calc(1rem - 8px) !important;
}

.dropdown-tog:hover{
background-color: unset;
}
.num_fil{
  max-width: calc(4rem - 4px);
  height: calc(1rem + 10px);
    }
    .num_fil_2{
      max-width: calc(4rem - 4px);
      height: calc(1rem + 10px);
      margin-left: calc(-0.5rem + 11px);
      margin-top: calc(0.5rem - 3px);;
    }
    /*обзоры*/

.review_card{
    display: flex;
    flex-flow: column-reverse;
    height: auto!important;
  }
  .review_card > .column{
      float: none;
      padding: 0 0 0 0!important;
  } 
  
  .inputrewiew{
      height: calc(2rem + 3px)!important;
  }
 .column_content button{
    bottom: -1.38rem !important;
    float: right !important;
    position: static !important;
  }
  .column_content textarea{
   width: 100% !important;
   height: calc(5rem - 12px) !important;
  
  }
  .column_content input{
    width: 100%;
  }
  .rating_card {
     margin: 0!important;
     height:calc(8rem + 12px)!important;
     width: calc(12rem - 12px)!important;
  }
 
  .column > .column_content button{
     width:calc(11rem + 2px)!important;
     height: calc(2rem + 3px)!important;
     padding: 0!important;
     margin-top: calc(2rem - 2px)!important;
  }
  .column_content > .description {
      margin-left: 0;
  }
  .description {
    margin-top: calc(2rem - 4px)!important;
 }
  .column_content > .titleView {
      font-size: 1rem;
      line-height: calc(1rem + 5px) ;
  }
  .rating, .rating-test  {
     font-size: calc(1rem - 1px)!important;
      }
  .head-review, .test{
    font-size: calc(1rem - 12px)!important;
    line-height: calc(1rem - 8px)!important;
  }
  #estimation-text{
    font-size: calc(1rem + 10px)!important;
    line-height: calc(1rem + 5px)!important;
  }
  .img_block{
    widows: 73px!important;
    height:64px!important;
    font-size: unset!important;
  }
  .test{
    margin-top:1rem !important;
    float: right!important;
    font-size: calc(1rem - 12px)!important;
    line-height: calc(1rem - 8px)!important;
  }
  .description_text{
    font-size: calc(1rem - 4px)!important;
    line-height: calc(1rem - 1px)!important;
    padding: 0 0 1rem 0;
  }
  .head-review{
     font-size: calc(1rem - 2px)!important;
     line-height: calc(1rem + 2px)!important;
     text-align: center;
  }
 






}
